---
import LayoutBlog from '../../layouts/LayoutBlog.astro';

---

<LayoutBlog title="2024">
    <div class="w-1/2 container m-auto flex flex-col gap-5">
        <h1 class="text-4xl dark:text-zinc-100 text-left">¡Feliz 2024!</h1>
        <div class="text-xl dark:text-zinc-100 text-left flex flex-col gap-5">
            <p>
                No quería dejar pasar la oportunidad para reflexionar sobre lo que fue el 2023. Este año me propuse muchas cosas, de las cuales cumplí una parte y otra queda para el futuro. Hace algún tiempo les conté sobre Ítaca y cómo ese poema guía mi avance en lo profesional. Como en el poema, siento que soy más "sabio" que hace un año, pero no lo suficiente como para considerar realmente que estoy cerca de mi objetivo más grande.
            </p>
    
            <p>
                ¿Qué siento respecto a los últimos 365 días? Siento que fue un cambio muy grande en mi vida. Pasé de vivir solo a convivir con mi pareja, cumplí un año trabajando en Coderhouse, me puse en serio por primera vez a seguir un "plan" sobre mi futuro, le dediqué más tiempo a esta red social y conocí a gente genial.
            </p>
    
            <p>
                ¿Qué espero para los próximos? Consolidar amistades, profundizar en mis conocimientos y que sea un año de amplio crecimiento personal y profesional. Agradezco a todos los que están leyendo esto; sus ojos están pasando ahora a través de palabras que escribí, y eso lo agradezco infinitamente. El año que viene está lleno de cosas geniales, y lo sé.
            </p>
    
            <p>
                “Ten siempre a Ítaca en tu mente.
                Llegar allí es tu destino.
                Mas no apresures nunca el viaje.
                Mejor que dure muchos años
                y atracar, viejo ya, en la isla,
                enriquecido de cuanto ganaste en el camino
                sin aguantar a que Ítaca te enriquezca.”
            </p>
    
            <p>
                ¡Feliz 2024 a todos! 🎉 
            </p>
        </div>

        <div class="container m-auto w-1/2 flex flex-wrap justify-center my-4">
            <a class="text-aguara-600 tracking-wide " href="/">Volver a home</a>
        </div>
    </div>

</LayoutBlog>