.contenedor{
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.imagen-proyectos{
    background-size: cover;
    width: 100%;
}
