---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
    <div class="grid container m-auto p-4 bg-white dark:bg-zinc-900 place-content-center">
        <div class="text-center">
          <h1 class="font-black text-gray-950 dark:text-zinc-50 text-9xl">404</h1>
      
          <p class="text-2xl font-bold tracking-tight dark:text-zinc-50 text-gray-900 sm:text-4xl">
            ¡Oh no!
          </p>
      
      
          <a
            href="/"
            class="inline-block px-5 py-3 mt-6 text-sm font-medium text-white bg-aguara-900 rounded hover:bg-aguara-600 focus:outline-none focus:ring"
          >
            Volver al inicio
          </a>
        </div>
      </div>
      <style>
        a{
          width: 200px;
    
        }
      </style>
</Layout>