---
---


<div class="container m-auto md:w-1/2 my-5 flex gap-4 flex-col flex-grow">
    <h3 class="text-4xl dark:text-zinc-100 text-left font-bold">Blog</h3>
    <p class="text-xl dark:text-zinc-100 text-left">A partir del 2024 voy a comenzar a comenzar a escribir un blog</p>
    <ul class="w-full flex flex-col gap-4">
        <li class=" text-lg bg-aguara-100 dark:bg-aguara-700 font-bold">
            <a class="w-full flex justify-between p-4" href="/blog/2024">
                <p class="">¡Feliz 2024!</p>
                <p class="">01/01/2024</p>
            </a>
        </li>
    </ul>
</div>