---

---

<header class="container m-auto mt-10"> 
    <div class="flex md:flex-row flex-col aling-center gap-2 justify-center">
        <div class="flex flex-col texto m-auto md:m-0">
            <h2 class="text-6xl font-bold text-gray-800 dark:text-zinc-100">IgnaDev</h2>
            <h2 class="text-xl pl-20 font-bold text-gray-900 dark:text-zinc-50">Desarrollador web</h2>
            <h2 class="hidden">Ignacio Basilio</h2>
        </div>
        <a href="https://twitter.com/ignadev" target="_blank" class="Contenedor-Perfil border-4 border-aguara-950 dark:border-aguara-800 m-auto my-5 md:m-0" id="perfil"></a>
    </div>
</header>

<script>
    const profileContainer = document.getElementById("perfil");

if (profileContainer instanceof HTMLAnchorElement) {
    const classNames = ["Contenedor-Perfil", "Contenedor-Twitter"];
    const urls = ["https://twitter.com/ignadev", "https://twitter.com/AGJavaScriptero"]
    let currentClassIndex = 0;

    setInterval(function () {
        profileContainer.classList.remove(classNames[currentClassIndex]);
        currentClassIndex = (currentClassIndex + 1) % classNames.length;
        profileContainer.classList.add(classNames[currentClassIndex]);
        profileContainer.href = urls[currentClassIndex]
    }, 5000); // Cambiar de clase cada 5 segundos (5000 ms)
}
</script>

<style>
.Contenedor-Perfil, .Contenedor-Twitter {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    transition: background-image 2s ease; 
}

.Contenedor-Perfil {
    background-image: url("http://imgfz.com/i/kPm9alD.jpeg");
}
@media (min-width: 768px) { 
    .texto  {
        margin-top: 50px;
        margin-right: 50px;
    }
}


.Contenedor-Twitter {
    background-image: url("https://pbs.twimg.com/profile_images/1689782778802421761/aOe_qvxS_400x400.jpg");
}
</style>