---

---

<header class="container m-auto mt-10"> 
    <div class="flex flex-col m-auto ">
        <h1 class="text-6xl m-auto font-bold text-gray-800 md:m-auto dark:text-zinc-100 sm:m-auto">IgnaDev</h1>
        <h1 class="text-xl m-auto pl-20 font-bold text-gray-900 dark:text-zinc-50 mt-1">Desarrollador web</h1>
        <div class="Contenedor-Perfil border-2 border-aguara-950 dark:border-zinc-900" id="perfil"></div>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const profileContainer = document.getElementById("perfil");
    const classNames = ["Contenedor-Perfil", "Contenedor-Twitter"];
    let currentClassIndex = 0;

    setInterval(function () {
        profileContainer?.classList.remove(classNames[currentClassIndex]);
        currentClassIndex = (currentClassIndex + 1) % classNames.length;
        profileContainer?.classList.add(classNames[currentClassIndex]);
    }, 5000); // Cambiar de clase cada 5 segundos (5000 ms)
    });
</script>

<style>
.Contenedor-Perfil, .Contenedor-Twitter {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    margin: 20px auto;
    transition: background-image 2s ease; 
}

.Contenedor-Perfil {
    background-image: url("https://i.ibb.co/2309kV7/perfil.jpg");
}

.Contenedor-Twitter {
    background-image: url("https://pbs.twimg.com/profile_images/1689782778802421761/aOe_qvxS_400x400.jpg");
}
</style>