---
import Proyecto from "./Proyecto";
const Proyectos = [
{
    titulo: "Rubrica Pokemon",
    descripcion: "Guarda tus equipos de Pokémon de cada juego y generación en esta página. ¡Entra ahora!",
    imagen: "http://imgfz.com/i/6g9Diha.png",
    link: "https://ignadev.store/"
},
{
    titulo: "Galeria de Imagenes",
    descripcion: "Este repositorio contiene un proyecto de Galería de Imágenes desarrollado con React, donde se utiliza react-router-dom para la navegación, useReducer y useContext",
    imagen:"http://imgfz.com/i/1N6SpEi.png",
    link:"https://fastidious-cascaron-e3eaab.netlify.app/"

},
{
    titulo: "Portafolio Aguará Guazú",
    descripcion: "Explora el portafolio de desarrollo web de Aguará Guazú Programador. Descubre proyectos, habilidades y logros en el mundo de la programación y diseño web. Todo con Astro y TailwindCSS.",
    imagen:"http://imgfz.com/i/n4sxEaY.png",
    link:"https://jazzy-taiyaki-6702af.netlify.app/"
},
{
    titulo: "News App",
    descripcion: "Esta es una pequeña aplicación de noticias construida utilizando React y Redux. La aplicación se conecta a una API de noticias para obtener las últimas noticias y permite a los usuarios guardar sus noticias favoritas.",
    imagen:"http://imgfz.com/i/VMGvCsE.png",
    link: "https://github.com/NachoBasilio/news-react-time"
}
]
---

<div class="container md:m-auto ml-3 w-1/4 flex flex-wrap my-4">
    <h3 class="text-4xl ml-2 font-bold dark:text-zinc-100">Algunos proyectos</h3>
</div>
<div class="container m-auto lg:w-1/2 w-auto md:flex md:flex-wrap md:justify-center">
    
    <div class="container m-auto w-auto md:flex md:flex-wrap md:justify-center">
        {Proyectos.map((proyecto)=>(
            <div class="md:w-1/3 w-auto mx-2">
                <Proyecto titulo={proyecto.titulo} descripcion={proyecto.descripcion} imagen={proyecto.imagen} link={proyecto.link}/>
            </div>
        ))}
        
    </div> 

</div>
<div class="container m-auto w-1/2 flex flex-wrap justify-center my-4">
    <a href="/mas-proyectos" class="text-aguara-600 tracking-wide" >Ver mas...</a>
</div>