---
import Proyecto from "./Proyecto";
const Proyectos = [
{
    titulo: "Rubrica Pokemon",
    descripcion: "Guarda tus equipos de Pokémon de cada juego y generación en esta página. ¡Entra ahora!",
    imagen: "https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/2052px-Pok%C3%A9_Ball_icon.svg.png",
    link: "https://ignadev.store/"
},
{
    titulo: "News App 📰",
    descripcion: "Esta es una pequeña aplicación de noticias construida utilizando React y Redux. La aplicación se conecta a una API de noticias para obtener las últimas noticias y permite a los usuarios guardar sus noticias favoritas.",
    imagen:"https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/The_Indianapolis_Star%2C_2011.jpg/1200px-The_Indianapolis_Star%2C_2011.jpg",
    link: "https://github.com/NachoBasilio/news-react-time"

}
]
---



<div class="container m-auto p-4 md:w-1/2 lg:w-1/4">
    <h3 class="text-4xl font-bold pl-1 dark:text-zinc-100">Mis proyectos:</h3>
    {
        Proyectos.map((proyecto) => {
            return <Proyecto titulo={proyecto.titulo} descripcion={proyecto.descripcion} imagen={proyecto.imagen} link={proyecto.link} />
        })
    }
</div>