---
import Parrafo from "./Parrafo";
const parrafos = ["Soy Ignacio Basilio, un apasionado del desarrollo web y la tecnología, con experiencia en JavaScript, React y Python. Estas herramientas me permiten crear aplicaciones web modernas y atractivas, y disfruto cada momento de este proceso creativo. Como desarrollador web, tengo la capacidad de crear aplicaciones modernas e interactivas. Mi pasión por la tecnología me llevó a esta carrera después de graduarme como Técnico Agrónomo, lo que me proporciona una perspectiva única para resolver problemas y adaptarme a nuevos entornos. Además, como tutor de programación, he aprendido a comprender las necesidades de los estudiantes y desarrollar estrategias efectivas para su éxito.","Siempre busco nuevos desafíos y oportunidades para crecer profesionalmente, manteniéndome al día con las últimas tendencias y tecnologías de la industria. Mi objetivo es seguir aprendiendo y aportar mi experiencia y creatividad para resolver los desafíos que se presenten en el desarrollo web. Estoy emocionado por las oportunidades que esta industria tiene para ofrecer y espero seguir contribuyendo y aprendiendo. Si estás interesado en conectarte, colaborar o explorar posibilidades laborales, no dudes en contactarme. ¡Gracias por tomarte el tiempo de conocerme!"]
---

<div>
    <div class="m-auto container   md:w-1/2">
        <h2 class="text-4xl dark:text-zinc-100 text-left font-bold">Un poco sobre mi</h2>
        <Parrafo client:load parrafos={parrafos}></Parrafo>
    </div>
</div>
